#title{
    background-color: #ff4c68;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

.navbar-brand{
    /* margin-left: 15px; */
}

.container-fluid{
    padding: 3% 15%;
}

.title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight:bold;
}

.row{
    margin-top: 90px;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

  button{
      margin-top: 30px;
      /* padding-right: 30px; */
  }

  .btn{
      margin-right: 20px;
  }

  .nav-link{
      font-family: "Montserrat";
      font-size: large;
  }

  .title-image{
    transform:rotate(25deg);
    margin: 50px;
    width: 60%;
    max-width: 100%;
    max-height: 100%;

  }

  .fa-circle-check, .fa-bullseye, .fa-heart{
      color: #fc6c85;
      
  }

  .fa-circle-check:hover, .fa-bullseye:hover, .fa-heart:hover{
    color: #ff4c68;
    
}

  body{
      font-family: "Montserrat";
  }

  .features-title{
    margin-top: 20px;

      font-family: "Montserrat";
      font-weight:600;

  }

  .features-text{
      color: #8f8f8f;
      
  }

  #features{
    text-align: center;
    margin: 10% 7%;
    background-color: white;
    /* position:relative;
    z-index: 1; */
  }


  .phone{
      /* margin-left: 200px; */
      /* max-width: 100%;
      max-height: 100%;  */
      /* position: absolute;  */
  }
  /* Testimonial Section */

  #testimonials{
    /* padding: 7% 15%; */
    text-align: center;
    /* background-color: #ef8172; */
    background-color: #ff4c68;
    color: white;
    height: 500px;

  }

  .carousel-item{
    padding: 7% 15%;

  }

  h2{
      font-family: "Montserrat";
      font-size: 2.7rem;
      font-weight: 900;
      line-height: 1.5;
  }

  .testimonial-image{
      width: 10%;
      border-radius: 100%;
      margin: 20px;
  }

  #press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 5%;
    height: 200px;

  }

  .press-logo{
      width: 15%;
      margin: 20px 20px 50px;
  }

#pricing{
    padding: 50px;
    text-align: center;

}
.card{
    height: 100%; 
  }
  
.pricing-cols{
    padding: 3% 2%;
}

.pr-row{
    margin-top: 30px;
}

.col-md-6{
    text-align: center;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 50px;

}

.cta{
    font-family: "Montserrat";
    font-weight: 900;
    color: white;
    font-size: 2.5rem;
}

#footer{
    background-color: white;
    height: 100px;
    align-items: center;
    padding: 20px;
}

.f-text{
    font-family: "Ubuntu";
    font-weight: 100;
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.socials{
    text-align: center;
    text-decoration: none; 
    background-color: none;
}
.fa{
    text-decoration: none;
    padding: 15px;

}

a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1028px) {
    .title-image{
        transform:rotate(0);
    }
    
}